<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/vue.js"></script>
</head>
<style type="text/css">
    .ui[class*="left fixed"].menu{
        top: 40px;
    }
    .ui.modal{
        width:400px;
        top:40%;
        left: 60%;
    }
</style>
<body>
    <!-- 顶部菜单 -->
    <div class="ui secondary pointing menu">
      <a class="active item">首页 </a>
      <div class="right menu">
        <a class="ui item" id="login" v-on:click="login()">登陆 </a>
        <a class="ui item" id="register" v-on:click="register()">注册 </a>
      </div>
    </div>
    <!-- 左侧导航 -->
    <div class="ui left fixed vertical menu">
      <a class="item">博客</a>
      <a class="item">Result-API</a>
      <a class="item">闭包</a>
    </div>
    <!-- 弹出框 -->
    <div class="ui modal">
      <div class="header">登陆</div>
      <div class="content">
          <div class="ui invert segment">
              <div class="ui inverted input">
                <label>用户名</label>
                <input type="text" name="username" placeholder="请输入用户名" v-model="username">
              </div>
              <div class="ui inverted divider"></div>
              <div class="ui inverted input">
                <label>密码</label>
                <input type="password" name="password" placeholder="请输入密码" v-model="password">
              </div>
           </div>
      </div>
      <div class="actions">
        <div class="positive ui button" id="userLogin" v-on:cilick="userLogin()">
          登陆
        </div>
        <div class="negative ui button">
          取消
        </div>
      </div>
    </div>

    <script type="text/javascript">
         var login = new Vue({
            el:"#login",
            methods:{
                login:function(){
                    $('.ui.modal').modal('show');
                }
            }
         })

         // var userLogin =new Vue({
         //    el:"#userLogin",
         //    methods:{
         //        userLogin:function(){
         //            $.ajax({
         //                url:"/Userlogin",
         //                type:'post',
         //                succeess:function(data){
         //                    alert("1");
         //                }
         //            })
         //        }
         //    }
         // })
         //登陆
         function userLogin(){
            $.ajax({
                url:"/Userlogin",
                type:'post',
                // data:{"username":${".username"}.text(),"password":${".password"}.text()},
                succeess:function(data){

                }
            })
         }

    </script>
</body>
</html>